.git
.gitignore
cmake-build-*
**/*.obj
**/*.o
**/*.pch
**/*.pdb
**/*.exe
**/*.dll
**/*.lib
**/*.so
**/*.dylib
**/*.a
**/*.log
**/.DS_Store
**/Thumbs.db
**/.idea
**/.vscode
cookies/
*.zip
*.tar
*.tar.gz

